<%- include('../partials/header') %>

<div id="ticket-disclaimer">Before adding, please ensure that the ticket is not in the following list:</div>
<section id="badge-container">
  <% tickets.forEach(function(t) { %>
    <article class="badge"><%= t.seat %> $<%= t.price %></article>
  <% }) %>
</section>

<form id="add-ticket-form" action="/flights/<%= flightId %>/tickets" method="POST">
  <label>SEAT:</label>
  <input type="text" name="seat" class="new-flight-input" required pattern="[A-F][1-9]\d?">
  <label>PRICE:</label>
  <input type="number" name="price" class="new-flight-input">
  <input type="submit" value="ADD TICKET" id="add-ticket">
</form>

<%- include('../partials/footer') %>