<%- include('../partials/header') %>

<h3>FLIGHT DETAILS</h3>
<section id="show-page">
    <div class="detail-label">AIRLINE: </div>
    <div class="detail-value"><%= flight.airline %></div>
    <div class="detail-label">AIRPORT: </div>
    <div class="detail-value"><%= flight.airport %></div>
    <div class="detail-label">FLIGHT NO.: </div>
    <div class="detail-value"><%= flight.flightNo %></div>
    <div class="detail-label">DEPARTS: </div>
    <div class="detail-value"><%= flight.departs %></div>
</section>

<br><br><h3>DESTINATIONS</h3>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label class="destination-label">AIRPORT:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW" selected>DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
 </select>
  <label class="destination-label">ARRIVAL DATE/TIME:</label>
    <input type="datetime-local" name="arrival">
  <input type="submit" value="ADD DESTINATION" id="add-destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>DESTINATION</th>
        <th>ARRIVAL DATE/TIME</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td class="destination-output-label"><%= d.airport %></td>
          <td class="destination-output-label"><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Added Yet</h5>
<% } %>

<section>
    <h3>TICKETS</h3>
    <a href="/flights/<%= flight._id %>/tickets/new">NEW TICKET</a>
    <ul>
      <%- tickets.map(t => 
        `<li>${t.seat} <small>${t.price}</small></li>`
      )%>
    </ul>
</section>

<%- include('../partials/footer') %>